body {
  background: linear-gradient(220deg, #ff00a1cc 0%, #00bfffcc 20%, #00ff51cc 40%, #fff700cc 60%, #ff7b00cc 80%, #ff0000cc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
@font-face {
  font-family: Alkatra;
  src: url("Alkatra.ttf")
}
.row {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
.column {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.box {
  background: #ffffff88;
  border: solid #000 0.1vw;
  border-radius: 0.5vw;
  width: 100%;
}
.text {
  font-family: Alkatra;
  font-size: 1.1vw;
}
h1 {
  text-align: center;
  font-family: Alkatra;
  margin: 0;
  text-decoration: underline;
}
img.logo {
  width: 4.5vw;
  float: inline-start;
  margin: 0 1.5vw 1vw;
}
a {
  text-decoration: none;
  transition: color 0.15s;
}
a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
a:active {
  color: red;
}
div.header {
  position: sticky;
  top: 10px;
  font-size: 1.4vw;
  box-shadow: 0 0 50px 0 #fff;
  z-index: 1;
}
div.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
img.magritte {
  background-color: #ffffff88;
  width: 27vw;
  position: absolute;
  right: 3vw;
  top: 17vh;
  border: solid #000 0.2vw;
  border-radius: 100%;
  box-shadow: 0 0 40px 0 #fff;
}
img.signature {
  width: 20vw;
  position: absolute;
  right: 7vw;
  top: 71vh;
}
em.quote {
  font-family: Alkatra;
  font-size: 1.3vw;
  font-weight: bold;
}
div.wall {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 43vw;
  margin: 12px 13vw;
}
img.art {
  width: 20vw;
  border-radius: 5%;
  margin: 20px 0;
}
a.art {
  width: 20vw;
  margin: 0;
}
img.painting {
  width: 30vw;
  margin: 2vw 2vw 0.3vw;
}
div.little {
  color: #777777cc;
  font-size: 0.9vw;
  text-align: center;
}
p {
  width: 50vw;
  margin: 2vw 0;
}
div.ratio {
  --bs-aspect-ratio: 56.25%;
  box-sizing: border-box;
  margin: 2%;
}
iframe {
  width: 79%;
  height: 49vh;
  margin-left: 12%;
}
img.photo {
  width: 30vw;
  margin-top: 4vh;
  margin-left: 2vw;
}