body {
  background: linear-gradient(220deg, #ff00a1cc 0%, #00bfffcc 20%, #00ff51cc 40%, #fff700cc 60%, #ff7b00cc 80%, #ff0000cc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  min-height: 100vh;
}
@font-face {
  font-family: Alkatra;
  src: url("Alkatra.ttf");
}
.box {
  background: #ffffff88;
  border: solid #000 0.1vw;
  border-radius: 0.5vw;
  width: 100%;
}
.text {
  font-family: Alkatra;
  font-size: 1.1vw;
}
h1 {
  text-align: center;
  font-family: Alkatra;
  margin: 0;
  text-decoration: underline;
}
img.logo {
  width: 4.5vw;
  float: inline-start;
  margin: 0 1.5vw 1vw;
}
img.logo:hover {
  animation:logo .3s cubic-bezier(.39,.575,.565,1.000) both;
  animation:vibrate .3s linear infinite both;
}
a {
  color: #a800a8;
  text-decoration: none;
  transition: color 0.15s;
}
a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
a:active {
  color: red;
}
div.header {
  position: sticky;
  top: 10px;
  font-size: 1.4vw;
  box-shadow: 0 0 50px 0 #fff;
  z-index: 1;
}
h1.heading {
  margin-left: 5vw;
  width: 92.6%;
  animation:focus 0.3s cubic-bezier(.55,.085,.68,.53) both;
}
div.content {
  display: grid;
  grid-template-columns: 3.3fr 0.7fr;
}
div.idk {
  width: 88%;
  margin-left: 8vw;
}
img.magritte {
  background-color: #ffffff88;
  width: 27vw;
  position: absolute;
  right: 3vw;
  top: 17vh;
  border: solid #000 0.2vw;
  border-radius: 100%;
  box-shadow: 0 0 40px 0 #fff;
}
img.signature {
  width: 20vw;
  position: absolute;
  right: 7vw;
  top: 68vh;
}
em.quote {
  font-family: Alkatra;
  font-size: 1.3vw;
  font-weight: bold;
}
div.wall {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 43vw;
  margin: 12px 13vw;
}
img.art {
  width: 20vw;
  border-radius: 5%;
  margin: 1vw 0;
  transition: scale .25s;
}
a.art {
  width: 20vw;
  margin: 0;
}
img.art:hover {
  animation:image .3s cubic-bezier(.39,.575,.565,1.000) both;
}
img.painting {
  width: 30vw;
  margin: 2vw 2vw 0.3vw;
}
.zoomable {
  cursor: zoom-in;
  transition: transform 0.3s ease;
}
.zoomable:hover {
  transform: scale(1.018);
}
div.little {
  color: #777777cc;
  font-size: 0.9vw;
  text-align: center;
}
p {
  margin: 1.5vw 0;
}
div.ratio {
  box-sizing: border-box;
}
iframe {
  width: 76%;
  height: 49vh;
  margin-left: 9%;
}
img.photo {
  width: 30vw;
  margin-top: 4vh;
  margin-left: 2vw;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.overlay img {
  max-width: 80%;
  max-height: 80%;
  transform: scale(0.5);
  transition: transform 0.3s ease;
}
.overlay.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}
.overlay.active img {
  transform: scale(1.2);
}
div.c {
  display: grid;
  width: 97.5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 2.5vw;
}
div.column {
  width: 80%;
}
a.p-btn{
  float: inline-end;
  width: 10vw;
  height: 2vw;
  margin-left: 0vw;
  margin-top: 1vw;
  font-size: 1.8vw;
}
button.s-btn{
  position: absolute;
  top: 1.5vw;
  right: 2vw;
  background-color: transparent;
  border: none;
  width: 11vw;
  height: 2vw;
  font-size: 1.5vw;
}
div.p-art {
  width: 100%;
  margin-top: 2vw;
  padding: 0.5rem;
}
img.p-art {
  width: 100%;
  border-radius: 0.5vw;
}
div.p-text {
  font-size: 1.05vw;
  text-align: center;
}
button.heart {
  float: right;
  background-color: transparent;
  border: none;
  height: 1.4vw;
  padding-top: 1%;
  margin-top: 1%;
  margin-right: 1vw;
}
button.heart:hover{
  color: #f00;
}
button.heart i{
  font-size: 1vw;
  margin-left: 1.8vw;
}
button.next{
  width: 3vw;
  height: 5vw;
  background-color: transparent;
  border: none;
}
button.next{
  font-size: 2.5vw;
}
@keyframes image {
  0% {
    transform:scale(1);
    transform-origin: 50% 100%;
    box-shadow:0 0 0 transparent;
  }
  100% {
    transform:scale(1.03);
    transform-origin: 50% 100%;
    box-shadow:0 0 18px rgba(0, 0, 0, 0.7);
  }
}
@keyframes focus {
  0% {
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}
@keyframes logo {
  0% {
    transform:scale(1);
    transform-origin:50% 100%
  }
  100% {
    transform:scale(1.05);
    transform-origin:50% 100%
  }
}
@keyframes vibrate {
  0% {transform:translate(0)}
  20% {transform:translate(-2px,2px)}
  40% {transform:translate(-2px,-2px)}
  60% {transform:translate(2px,2px)}
  80% {transform:translate(2px,-2px)}
  100% {transform:translate(0)}
} 